.timetable-container {
    margin: 40px;
    width:80% ;
  }
  
  .days-container {
    display: flex;
  }
  
  .day {
    margin-right: 20px;
  }
  
  .time-slots {
    display: flex;
    flex-direction: column;
  }
  
  .time-slot {
    margin-bottom: 10px;
  }
  
  .event {
    background-color: #e0e0e0;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  /* Add this CSS to a separate stylesheet or a style module in your React project */
.table {
  width: 100%;
  border-collapse: collapse;
  color: #2d2727;
}

.tableFee {
  width: 100%;
  border-collapse: collapse;
  color: #2d2727;
}
.table th,
.table td {
  border: 1px solid #878686;
  padding: 8px;
  text-align: left;
}
.tableFee th,
.tableFee td {
  border: 1px solid #0d0c0c;
  padding: 8px;
  text-align: left;
}
.table th {
  background-color: #a8a7a7;
}

.table tbody tr:nth-child(even) {
  background-color: #a2a2a2;
}

.table tbody tr:hover {
  background-color: #7f7b7b;
}

.button-container {
  display: flex;
}

.square-button {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 2px solid #3498db;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.square-button:hover {
  background-color: #2980b9;
}


.square-buttonFee {
  width: 100px;
  height: 120px;
  margin: 5px;
  border: 2px solid #3498db;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.square-buttonFee:hover {
  background-color: #2980b9;
}
 
.square-buttonExp {
  width: 120px;
  height: 120px;
  margin: 5px;
  border: 2px solid #3498db;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.square-buttonExp:hover {
  background-color: #2980b9;
}