/* Add this CSS to a separate stylesheet or a style module in your React project */
.table {
    width: 100%;
    border-collapse: collapse;
    color: #2d2727;
}

.table th,
.table td {
    border: 1px solid #878686;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #a8a7a7;
}

.table tbody tr:nth-child(even) {
    background-color: #a2a2a2;
}

.table tbody tr:hover {
    background-color: #7f7b7b;
}

.button-container {
    display: flex;
  }
  
  .square-button {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid #3498db;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .square-button:hover {
    background-color: #2980b9;
  }